// Variables
@use '../../../src/assets/styles/variables' as *;

.list {
    padding: 5.5rem 3rem;
    background-color: $background-section; //!CHANGE!!!
    font-family: 'Kode Mono';
    height: 100%;
    li {
        display: flex;
        align-items: baseline;
        gap: 1rem;
        margin-top: 2rem;
        font-size: 2rem;

    }
    a {
        color: $text;
        transition: 0.25s;
    }
    a:hover {
        cursor: pointer;
        color: $lime-main;
        text-shadow: 0px 0px 10px;
    }
    a:active {
        text-shadow: none;
        color: $lime-dark;
    }
}

.logo {
    font-size: 1.5rem;
}

