.container {
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    li {
        border-radius: 10px;
        width: 48%;
        padding: 1rem;
        transition: 0.5s;
        display: flex;
        justify-content: space-between;
    }
    li:hover {
        background-color: grey;
    }

    @media(max-width: 600px) {
        li {
            width: 95%;
        }
    }
}