// Variables
@use '../../../src/assets/styles/variables' as *;

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.5em;
    line-height: 1.5rem;
    ul {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    h2 {
        display: flex;
        justify-content: center;
        transition: 0.5s;
    }
    h2 p {
        font-family: 'Kode Mono';
        color: $text;
        font-size: 0.75rem;
        margin-top: 1.75rem;
        display: none;
    }
    h2:hover {
        transform: scale(1.1);
        p {
            display: block;
            position: absolute;
        }
    }
}

.project {
    border-radius: 10px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    img {
        width: 100%;
        border-radius: 0 0 10px 10px;
        margin: 0 auto;
    }
    background-color: $background-section;
    ul {
        display: flex;
        justify-content: center;
    }
}

.projectTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    h1 {
        font-size: 2.4rem;
    }
    @media (max-width: 500px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        h2 {
            font-size: 1rem;
            p {
                margin-top: 1.25rem;
            }
        }
    }
}

.workingHeader {
    font-family: 'Kode Mono';
    font-size: 2rem;
    margin: 2rem auto;
    text-align: center;
}

.current {
    max-width: 342px;
    margin-left: auto;
    margin-right: auto;
    h1 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }
}

.description {
    margin: 1rem 0 1rem 0;
}

.techstack {
    display: flex;
    gap: 0.5rem;
}

.buttonContainer {
    display: flex;
}

.projInfo {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

@media (min-width: 1377px) {
    .container {
        max-width: none;
    }
    // .projectTitle {
        // flex-direction: column;
        // align-items: flex-start;
        // gap: 1rem;
        // margin: 0;
    // }
    .project {
        flex-direction: row;
        img {
            height: 450px;
            border-radius: 0 10px 10px 0;

        }
    }
    .odd {
        flex-direction: row-reverse;
        img {
            border-radius: 10px 0 0 10px;
        }
    }
    .buttonContainer {
        margin: 0;
    }
    .projInfo {
        justify-content: space-between;
    }
    // .description {
        // margin-bottom: 0;
    // }
}