.container {
    display: flex;
    justify-content: end;
    font-size: 3rem;
    position: sticky;
    bottom: 0;
    padding: 0 2rem 2rem 0;
    animation: bounce 2s infinite;
    
    @keyframes bounce {
        50% {transform: translateY(-5px);}
    }
    
    a {
        background-color: #242424;
        border-radius: 500px;
        width: 4rem;
        height: 4rem;
        padding: 0.5rem;
    }
    a:hover {
        cursor: pointer;
    }
    // @media(min-width: 751px) {
    //     display: none;
    // }
}