// Variables
@use '../../../src/assets/styles/variables' as *;

.container {
    display: flex;
    justify-content: end;
    font-size: 3rem;
    position: sticky;
    bottom: 0;
    padding: 0 2rem 2rem 0;
    
    a {
        background-color: $background;
        border-radius: 500px;
        width: 4rem;
        height: 4rem;
        padding: 0.5rem;
        opacity: 0.5;
        transition: 0.5s;
        animation: bounce 2s infinite;
        
        @keyframes bounce {
            50% {
                transform: translateY(-5px);
                opacity: 1;
            }
        }
    }
    
    a:hover {
        cursor: pointer;
    }
}