// Colours
$lime-main: rgb(146, 219, 78);

.container {
    display: flex;
    gap: 1rem;
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        // background-color: green;
        padding: 0.5rem 1rem;
        border: 2px solid white;
        border-radius: 7px;
        // width: 120px;
        color: white;
        transition: 0.25s;
    }
    a {
        text-decoration: none;
    }
    li:hover {
        // background-image: linear-gradient(rgb(81, 81, 81), rgb(49, 49, 49));
        background-color: rgba(100, 212, 111, 0.163);
        color: $lime-main;
        border-color: $lime-main;
        cursor: pointer;
        // transform: translateY(-2px);
        animation: pulsing 0.5s infinite;

        @keyframes pulsing {
            // 0%, 100% {transform: scale(1);};
            50% {transform: scale(1.05);};
        }

    }
    li:active {
        background-image: linear-gradient(rgb(49, 49, 49), rgb(81, 81, 81));
    }
    @media(max-width: 600px) {
        // flex-direction: column;
        // width: 80px;
        font-size: 0.75rem;
    }
}