$skillOne: rgba(128, 128, 128, 0);
$skillTwo: white;
$skillThree: rgb(81, 81, 81);
$skillFour: rgb(146, 219, 78);

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1.5em;
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem 0.5rem;
        font-family: 'Kode Mono';
    }
    li {
        display: flex;
        align-items: center;
        // gap: 0.5rem;
        border: 2px solid $skillTwo;
        // padding: 0 1rem;
        border-radius: 20px;
        background-image: linear-gradient(rgb(81, 81, 81), rgb(49, 49, 49));
        transition: 0.25s;
        div {
            height: 2rem;
            width: 0.75rem;
            background: linear-gradient(to bottom right, $skillOne 0%, $skillOne 50%, $skillTwo 50%, $skillTwo 100%);
        }
    }
    li:hover {
        // border-color: $skillFour;
        cursor: default;
        // transform: translateY(-2px);
        animation: jiggle 0.2s;
        @keyframes jiggle {
            50% {transform: translateY(1px);}
        }

        // .icon {
        //     color: $skillFour;
        // }
        // .name {
        //     background-color: $skillFour;
        // }
        // div {
        //     background: linear-gradient(to bottom right, $skillOne 0%, $skillOne 50%, $skillFour 50%, $skillFour 100%);
        // }
    }
}

.icon {
    display: flex;
    align-items: center;
    background-color: $skillOne;
    padding: 0 0.25rem 0 0.75rem;
    height: 2rem;
    border-radius: 15px 0 0 15px;
    color: $skillTwo;
    font-size: 1.3rem;
}

.name {
    display: flex;
    align-items: center;
    background-color: $skillTwo;
    color: $skillThree;
    // border: 2px solid $skillOne;
    padding: 0 1rem 0 0.2rem;
    height: 2rem;
    border-radius: 0 15px 15px 0;
}

.html {
    color: red;
}