// Variables
@use '../../../src/assets/styles/variables' as *;

.container {
    // max-width: 700px;
    padding: 0 1.5em;
    ul {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem 0.5rem;
        font-family: 'Kode Mono';
        border-radius: 10px;
        padding: 1rem;
    }
    li {
        display: flex;
        align-items: center;
        border: 2px solid $skillTwo;
        border-radius: 20px;
        background-image: linear-gradient($gradient2, $gradient1);
        transition: 0.25s;
        font-weight: 600;
        div {
            height: 2rem;
            width: 0.75rem;
            background: linear-gradient(to bottom right, $skillOne 0%, $skillOne 50%, $skillTwo 50%, $skillTwo 100%);
        }
    }
    li:hover {
        cursor: default;
        animation: jiggle 0.2s;
        @keyframes jiggle {
            50% {transform: translateY(-2px);}
        }
    }
}

.icon {
    display: flex;
    align-items: center;
    background-color: $skillOne;
    padding: 0 0.25rem 0 0.75rem;
    height: 2rem;
    border-radius: 15px 0 0 15px;
    color: $skillTwo;
    font-size: 1.3rem;
}

.name {
    display: flex;
    align-items: center;
    background-color: $skillTwo;
    color: $skillThree;
    padding: 0 1rem 0 0.2rem;
    height: 2rem;
    border-radius: 0 15px 15px 0;
}

@media (min-width: 1210px) {
    .container {
        ul {
            width: 340px;
        }
        padding-right: 0;
    }
}