.container {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0;
    position: sticky;
    top: 0;
    background-color: #242424;
    font-family: 'Kode Mono';
    li {
        display: flex;
        align-items: center;
    }
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
    }
    a:hover {
        cursor: pointer;
    }
}