// Variables
@use '../../../src/assets/styles/variables' as *;

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.5em;
    width: 100%;
    div h3 {
        color: $lime-main;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    li {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        background-color: $background-section;
        padding: 1rem 1.5rem;
        border-radius: 20px;
    }
    li:hover {
        cursor: pointer;
        .more {
            color: $lime-main;
                border-color: $lime-main;
                background-color: $lime-transparent;
        }
    }
}

.heading {
    display: flex;
    justify-content: space-between;
}

.more {
    border: 2px solid $text;
    border-radius: 50px;
    display: flex;
    align-items: flex-end;
    transition: 0.5s;
}

.more:hover {
    cursor: pointer;
    color: $lime-main;
        border-color: $lime-main;
        background-color: $lime-transparent;
}

.circle {
    height: 27px;
    width: 27px;
}

.desc {
    margin-top: 1rem;
}

@media (min-width: 1377px) {
    .container {
        margin: 0;
        padding-left: 0;
    }
}

.openClose {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
    font-family: 'Kode Mono';
    font-size: 0.75rem;
    P {
        padding: 0.5rem 1rem;
    }
}