// Variables
@use '../../../src/assets/styles/variables' as *;

.container {
    // max-width: 700px;
    // margin: 0 auto;
    padding: 0 1.5em;
    width: 100%;
    div h3 {
        color: $lime-main;
    }
    // h4 {
        // margin-bottom: 0.5rem;
    // }
    ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    li {
        display: flex;
        flex-direction: column;
        // justify-content: flex-start;
        gap: 0.25rem;

    }
}

.heading {
    display: flex;
    justify-content: space-between;

    // @media (max-width: 500px) {
        // flex-direction: column;
    // }
}

.line {
    background-color: $text;
    width: 2px;
    height: 100%;
}

// .jobby {
//     display: flex;
//     align-items: flex-start;
// }

.more {
    border: 2px solid $text;
    border-radius: 50px;
    display: flex;
    align-items: flex-end;
    transition: 0.5s;
    // padding: 0 0.25rem 0 0.5rem;
}

.more:hover {
    cursor: pointer;
    color: $lime-main;
        border-color: $lime-main;
        background-color: $lime-transparent;
}

.desc {
    margin-top: 1rem;
}

@media (min-width: 1210px) {
    .container {
        margin: 0;
        padding-left: 0;
    }
}

.openClose {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
    P {
        padding: 0.5rem 1rem;
    }
}