.container {
    max-width: 700px;
    margin: 0 auto 10rem auto;
    padding: 0 1.5em;
    ul {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }
}