// Variables
@use '../../../src/assets/styles/variables' as *;

.container {
    padding: 0 1.5rem;
    max-width: 800px;
    margin: 0 auto;
    ul {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
}

.body {
    background-color: $background-section;
    padding: 2rem;
    border-radius: 20px;
    max-width: 600px;
    margin: 0 auto 10rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

@media (min-width: 1377px) {
    .container {
        max-width: none;
    }
}