// * Colours
$lime-main: rgb(146, 219, 78);
// $lime-main: rgb(142, 198, 90);
$lime-yellow: rgb(226, 240, 118);
$lime-dark: rgb(107, 160, 56);
$lime-transparent: rgba(100, 212, 111, 0.163);
$background: #242424;
// $background: #1a1627;
// $background: #222231;
$background-section: rgb(28, 28, 28);
$background-section: rgb(16, 16, 16);
// $background-section: #151419;
$border-section: rgb(95, 95, 95);
$text: white;
$text-dark: rgb(193, 193, 193);

$skillOne: rgba(128, 128, 128, 0);
$skillTwo: white;
$skillThree: rgb(81, 81, 81);
$skillFour: rgb(146, 219, 78);

$gradient1: rgb(49, 49, 49);
$gradient2: rgb(81, 81, 81);

// * Fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); // 'Lato'
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap'); // 'Kode Mono'