// Colours
$lime-main: rgb(146, 219, 78);
$lime-yellow: rgb(226, 240, 118);

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media(max-width: 750px) {
    #desktopNav {
        display: none;
    }
}

@media(min-width: 751px) {
    #mobileNav {
        display: none;
    }
}

body {
    font-family: Outfit, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    min-width: 320px;
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
    // padding: 0 1.5rem;
}

p {
    color: rgb(193, 193, 193);
}

h1 {
    font-size: 2.66em;
}

li {
    list-style: none;
}

.headingIntro {
    display: flex;
    margin: 5rem 0 2rem 0;
    border-bottom: 3px dashed white;

    h1 {
        font-family: 'Kode Mono';
        margin-bottom: 0.5rem;
        display: flex;
        align-items: baseline;
        gap: 1rem;
    }
}

.introLine {
    margin-bottom: 2rem;
    // text-align: center;

}

span {
    font-family: 'Kode Mono';
    color: $lime-main;
    // background: -webkit-gradient($lime-main, $lime-yellow);
    background: linear-gradient($lime-yellow, $lime-main);
    // -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    font-size: 2rem;
}

.bm-burger-button {
    position: fixed;
    width: 1.75rem;
    height: 1.5rem;
    right: 2rem;
    top: 1.5rem;
}

.bm-burger-bars {
    background: $lime-main;
}

// .bm-burger-bars-hover {
//     background: $lime-main;
//     box-shadow: 0 0 10px $lime-main;
// }

// .bm-cross {
//     background: $lime-main;
// }

// .bm-cross-button {
//     width: 1.75rem;
//     height: 1.75rem;
// }

.bm-menu {
    // position: fixed;
    // width: 100%;
    // z-index: 1000;
}

// .bm-overlay {
//     z-index: 9;
// }

@media (min-width:900px) {
    body {
        padding: 0 8rem;
    }
}

.widescreenOnly {
    display: none;
}

@media (min-width: 1210px) {
    .twins {
        display: flex;
        gap: 4rem;
    }
    .widescreenOnly {
        display: block;
    }
    .widescreenNone {
        display: none;
    }
}

#skillsExp {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#skillsExpIntro {
    padding: 0 1.5rem;
}