// Variables
@use './variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media(max-width: 750px) {
    #desktopNav {
        display: none;
    }
}

@media(min-width: 751px) {
    #mobileNav {
        display: none;
    }
}

body {
    font-family: Outfit, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: $text;
    background-color: $background;
    min-width: 320px;
    min-height: 100vh;
}

.content {
    max-width: 1200px;
    margin: 0 auto;

}

p {
    color: $text-dark;
}

h1 {
    font-size: 2.66em;
}

li {
    list-style: none;
}

.headingIntro {
    min-width: 100%;
    display: flex;
    margin: 5rem 0 1rem 0;
    border-bottom: 3px dashed $text;

    h1 {
        font-family: 'Kode Mono';
        margin-bottom: 0.5rem;
        display: flex;
        align-items: baseline;
        gap: 1rem;
    }
}

.introLine {
    margin-bottom: 2rem;
}

span {
    font-family: 'Kode Mono';
    color: $lime-main;
    // background: -webkit-gradient($lime-main, $lime-yellow);
    background: linear-gradient($lime-yellow, $lime-main);
    // -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    font-size: 2rem;
}

.bm-burger-button {
    position: fixed;
    width: 32px;
    height: 24px;
    right: 2rem;
    // left: 2rem;
    top: 12px;
}

.bm-burger-bars {
    background: $lime-main;
    background: $text;
}

// @media (min-width:900px) {
//     body {
//         padding: 0 8rem;
//     }
// }

.widescreenOnly {
    display: none;
}

@media (min-width: 1210px) {
    .twins {
        display: flex;
        gap: 4rem;
    }
    .widescreenOnly {
        display: block;
    }
    .widescreenNone {
        display: none;
    }
}

#skillsExp {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#skillsExpIntro {
    padding: 0 1.5rem;
}