// Colours
$lime-main: rgb(146, 219, 78);

.container {
    margin: 10rem auto 0 auto;
    color: white;
    // border-bottom: 3px dashed white;
    max-width: 700px;
    // margin: 0 auto;
    
    h2 {
        margin: 1em 0 2em 0;
    }

    p {
        margin-top: 2rem;
    }
}
