// Colours
$lime-main: rgb(146, 219, 78);

.container {
    margin: 0 auto 7.5rem auto;
    color: white;
    // border-bottom: 3px dashed white;
    max-width: 700px;
    // margin: 0 auto;
    padding: 7.5rem 1.5em 0 1.5rem;

    .subhead {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
    
    h2 {
        margin: 1em 0 2em 0;
    }

    p {
        margin-top: 2rem;
    }

    ul {
        display: flex;
    }



    @media (max-width: 500px) {
        h1 {
            // font-size: 2rem;
        }
        .subhead {
            flex-direction: column;
        padding-top: 1rem;
            gap: 0;
        }
    }
}
