.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1.5em;

    span {
        font-size: 2rem;
    }
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            font-size: 0.6rem;
            padding-left: 3px;
        }
        
    }
    .wink {
        display: none;
    }
    .yay {
        display: none;
    }
    
    h1:hover {
        .smile {
            display: none;
        }
        .wink {
            display: flex;
            p {
                animation: psst 1.2s;
                @keyframes psst {
                    100% {opacity: 1;}
                }
            }
        }
        span {
            animation: jiggle 0.2s infinite;
            @keyframes jiggle {
                50% {transform: translateX(1px);}
            }
        }
    }
    .click:hover {
        cursor: pointer;
    }
    .click:active {
        .smile {
            display: none;
        }
        .wink {
            display: none;
        }
        .yay {
            display: flex;
        }
        animation: boing 0.2s;
        @keyframes boing {
            50% {transform: translateY(-50px);}
        }
    }

    ul {
        display: flex;
        li {
            
        }
    }
}

