.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1.5em;

    span {
        font-size: 2rem;
    }
    .wink {
        display: none;
    }
    h1:hover {
        .open {
            display: none;
        }
        .wink {
            display: block;
        }
    }
    span:hover {
        cursor: pointer;
    }
    span:active {
        animation: boing 0.2s;
        @keyframes boing {
            50% {transform: translateY(-50px);}
        }
    }
}