// Variables
@use '../../../src/assets/styles/variables' as *;

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.5em;
    p {
        // line-height: 1.5rem;
    }

    span {
        font-size: 2rem;
    }
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            font-size: 0.6rem;
            padding-left: 3px;
        }
        
    }
    .wink {
        display: none;
    }
    .yay {
        display: none;
    }
    
    h1:hover {
        .smile {
            display: none;
        }
        .wink {
            display: flex;
            p {
                animation: psst 1.2s;
                @keyframes psst {
                    100% {opacity: 1;}
                }
            }
        }
        span {
            animation: jiggle 0.2s infinite;
            @keyframes jiggle {
                50% {transform: translateX(1px);}
            }
        }
    }
    .click:hover {
        cursor: pointer;
    }
    .click:active {
        .smile {
            display: none;
        }
        .wink {
            display: none;
        }
        .yay {
            display: flex;
        }
        animation: boing 0.2s;
        @keyframes boing {
            50% {transform: translateY(-50px);}
        }    
    }

    img {
        width: 200px;
        height: 200px;
        border-radius: 1000px;
        margin: 0 auto;
        border: 3px dashed $text;
    }

    ul {
        display: flex;
        // justify-content: center;
        margin-bottom: 1rem;
        margin: 0 1rem;
        gap: 1rem;
    }
    li:hover {
        cursor: pointer;
        color: $lime-main;
        border-color: $lime-main;
        background-color: $lime-transparent;
    }
    li:active {
        color: $lime-dark;
        border-color: $lime-dark;
    }

    h2 {
        font-family: 'Kode Mono';
        margin-bottom: 1rem;
        // background-color: $background-section;
        // border-radius: 20px;
        // padding: 0 2rem;
    }
    .secondPara {
        margin-top: 1rem;
    }
}

.infoPhone {
    display: none;
    border-radius: 0 0 10px 10px;
    gap: 1rem;
}

.infoDesktop {
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 2rem;
    h1 {
        display: flex;
        align-items: center;
        font-size: 5rem;
    }
}

.info {
    // border: 2px solid $lime-main;
    background-color: $background-section;
    padding: 1rem 2rem;
    margin-top: 1rem;
    transition: 1s;
    line-height: 1.5rem;
    // max-width: 600px;
    animation: fadein 1s;
    @keyframes fadein {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
}

@media(max-width: 620px) {
    .container {
        ul {
            flex-direction: column;
        }
        .infoDesktop {
            display: none;
        }
        .infoPhone {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1rem;
        }
    }
}

.more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    transition: 0.5s;

}

.unpressed {
    // border: 2px solid;
    background-color: $background-section;
    border-radius: 50px;
}

.pressed {
    background-color: $background-section;
    color: $lime-main;
    // border-color: $lime-main;
    border-radius: 20px 20px 0 0;

    transform: translateY(1rem);
    z-index: 1;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section2 {
    margin-top: 2rem;
}

.para {
    line-height: 1.5rem;
}
    
    @media (min-width: 1377px) {
        .container {
            max-width: none;
        }
        .sections {
        margin: 2rem;
        padding: 0 5rem;
        flex-direction: row;
        // align-items: center;
    }
//     .section1 {
//         width: 50%;
//     }
//     .section2 {
//         width: 50%;
//     }
}
